<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<!--configSections을 지정하려면 제일 먼저 와야한다.-->
		<section name="ServerParams" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>

	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<ServerParams>
		<add key="ServerIP" value="192.168.0.41"/>
		<add key="ServerPort" value="5999"/>
	</ServerParams>

</configuration>